<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="config_yaml" default="$(find online_photometric_calib)/config/config.yaml"/>
  <rosparam command="load" file="$(arg config_yaml)"/>

  <!-- launch-prefix="gdb -ex run -1-args" -->
  <node name="opc_node" pkg="online_photometric_calib" type="opc_node" output="screen" >
         
      <remap from="image" to="/cam0/image_raw"/>
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" 
        args = "--perspective-file $(find online_photometric_calib)/config/Default.perspective"/>

</launch>
